.hero-section {
    display: flex;
    flex-wrap: wrap;
    padding: 130px 0 110px;

    @include breakpoint(md){
        padding-top: 100px;
    }
}

.hero-section__text-holder, .hero-section__image-holder {
    display: block;
    width: 50%;
    align-self: center;

    @include breakpoint(md){
        width: 50%;
    }

    @include breakpoint(xxs){
        width: 100%;
    }
}

.hero-section__text-holder {
    @include breakpoint(md){
    }

    @include breakpoint(xxs){
        text-align: center;
    }
  
}

.hero-section__title {
    color: $black;
    font-weight: bold;
    font-size: 44px;

    @include breakpoint(md){
        font-size: 20px;
    }

    @include breakpoint(xxs){
        font-size: 18px;
        text-align: center;
    }
}

.btn-list {    
    @include breakpoint-mf(xxs){
        padding-left: 0;
    }
}

.white_big {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-decoration: underline;
   font-weight: 600;
   font-size: $font-size-global;
   color: $orange;
   border: none;

   @include breakpoint(md){
    font-size: 12px;
    padding-left: 0;
}

    @include breakpoint(xxs){
    font-size: 10px;
    padding: 2px;
}
}

.btn_white__image {
    margin-right: 8px;
}

.hero-section__image {
    padding-left: 60px;

    @include breakpoint(md){
        padding-left: 15px;
    }
    
        @include breakpoint(xxs){
        padding-left: 0;
    }
}