.tools-section {
    display: block;
    margin: 0 -7px 200px -7px;

    @include breakpoint(md){
        
    }

    @include breakpoint(xxs){
       margin-bottom: 100px;
    }
   
}

.tools-section__title {
    text-align: center;
    padding-bottom: 55px;
}

.tools-section__list {
    list-style: none;
    padding: 0 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px;

    @include breakpoint(md){
        
    }

    @include breakpoint(xxs){
       padding-bottom: 0;
       margin: 0 -10px;
    }
}

.tools-section__list-item {
    width: 25%;
    padding: 0 20px 40px;

    @include breakpoint(md){
        width: 50%;
    }

    @include breakpoint(xxs){
        width: 50%;
        padding: 0 10px 20px;
    }
}

.tools-section__list-item h3 {
    color: $black;
    font-weight: 600;
    font-size: 22px;    
}

.tool-section__button-holder {
    display: block;
    text-align: center;
    width: 175px;
    margin: 0 auto;
}