* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}
a {
    text-decoration: none;
} 
body {
    color: #070707;
}
h1 {
    font-size: 48px;
    line-height: 64px;
    margin: 0 0 40px;
}
img {
    display: block;
    max-width: 100%;
}
/*Header*/
.container {    
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 23px 0 0 0;
    }
.header .border-shadow {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #828282;
    box-shadow: 0 4px 4px 1px rgb(130 130 130 / 20%);
}    
.nav-list {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}
.nav-item {    
    display: inline;
    padding: 0 20px;    
}
.nav-link {
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    text-shadow: 2px 4px 4px rgb(130 130 130 / 50%);
}
.nav-link.active {
    color: #070707;
}
/*Hero section*/    
.hero-section {
    padding: 34px 0 100px;
}
.hero-section .image-holder img {
    width: 100%;
}
/*About me section*/
.about_me_container {
    background: #F6F6F6;
    padding: 100px 0;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
.about_me {
    color: #070707;
    font-size: 34px;
    text-align: center;
    margin-bottom: 28px;
}
.text_container {    
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
}
/*skills section*/
.skills-section {
    padding: 100px 0 83px;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
.skills-section-title {
    padding: 0 0 44px;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}
.skills-section-text {
    padding: 0 0 80px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.skills-list-item {
    padding: 0 65px 24px 65px;
    text-align: center;
}
.skills-list-container {
    list-style: none;
    text-align: center;
}
.skills-list-image {
    display: inline-block;    
}
.skills-list-text-item {
    padding-bottom: 60px;
    color: #828282;
    font-size: 14px;
    line-height: 17px;    
}
.skills-image-text {
    padding: 0 25px 0 25px;
}
/*Portfolio section*/
.portfolio-section-container {
    padding: 120px 0 0px 0;
    max-width: 940px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: #F6F6F6;
}
.portfolio-section-title {
    padding: 0 0 68px;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
}
.porfolio-section-block {
   
}
.portfolio-section-image img {
    width: 100%;
}
.portfolio-section-link {
    padding: 16px 0 130px 0;
    width: 276px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    margin: 0 auto;
    color: #070707;
}
