.hero-section {
    height: 600px;
    background-image: url("../../images/IMAGE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    

    .text-holder {        
        margin: 0 auto;        
        text-align: center;

        p {
            color: $orange;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        h1 {
            margin: 0 auto;
            max-width: 870px;
            color: $white;
            font-weight: 400;
            font-size: 70px;
            line-height: 80px;
            letter-spacing: 1px;
            margin-bottom: 35px;
        }

    }

    .btn-holder {
        text-align: center;      
        
        a {
            background-color: $orange;
            color: $black;

            &:hover {
                opacity: 50%;
            }
        }
    }
}